/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "primeicons/primeicons.css";

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/satoshi-font/Satoshi-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/satoshi-font/Satoshi-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/satoshi-font/Satoshi-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/satoshi-font/Satoshi-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/satoshi-font/Satoshi-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/satoshi-font/Satoshi-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/satoshi-font/Satoshi-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/satoshi-font/Satoshi-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/satoshi-font/Satoshi-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/satoshi-font/Satoshi-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

body {
    font-family: 'Satoshi', sans-serif !important;
}

.p-inputtext {
    width: 100%;
}

.p-card-body {
    border: 1px solid #e5e7eb;
    border-radius: 12px;
}