/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

/* .p-button {
    width: 100%;
} */

.p-inputtext {
    width: 100%;
}

.p-card-body {
    border: 1px solid #e5e7eb;
    border-radius: 12px;
}